@charset "utf-8";
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anton");

* {box-sizing: border-box}
html {
  overflow-x: hidden;
}
body{
   font-family: "Quicksand",Arial, Helvetica, sans-serif;
   padding-right: 0px !important;
   overflow-x: hidden;
}

.navbar-brand{
  font-family: "Anton"; 
  color:black;
  margin-left:20px; 
  font-size:60px; 
  text-decoration:none;
}

.navbar-brand :hover{
  color:grey;
}

a{
  text-decoration:none;
  color:black;
}
.col img{
  width: 70%;
  padding-top: 10px;
  transform: scale(1, 1) !important;
}

.col span{
  text-decoration: none;
}

/* footer */
.footer-copyright { 
  background: #222; 
  padding: 5px 0;
}

.footer-copyright p{ 
  color: white;
}

